body.full-width-card .window {
    width: 100% !important;
    margin: 50px !important;
}

body.full-width-card .window-main-col {
    width: calc(100% - 250px) !important;
}

body.full-width-card .js-attachment-list {
    display: flex;
    flex-wrap: wrap;
}

body.full-width-card .attachment-thumbnail {
    width: 500px;
}


body.full-width-card .window-sidebar {
    width: 200px;
}
